.qr-wrap {
  display: flex;
  position: relative;
  .input-wrap {
    text-align: center;
    margin-top: 60px;
    margin-right: 50px;

    .btn {
      margin-top: 30px;
    }
  }
  img,
  textarea {
    width: 400px;
    display: block;
  }
}
.parse-wrap {
  display: flex;
}
