.timestamp-wrap {
  width: 500px;
  margin: 100px;
  .item {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
  }

  .label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
  }
}