.http-interceptor-wrap {
  width: 100%;
  height: 100%;
  .panel-header {
    display: flex;
  }

  .all-switch {
    text-align: center;
    margin: 20px;
  }

  .one-switch {
    margin: 0 10px;
    margin-top: 4px;
  }

  .btn-wrap {
    text-align: center;
    margin: 10px;
  }
}
